<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Algo</servlet-name>
        <servlet-class>com.jc.controladores.ServletHola</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAutenticar</servlet-name>
        <servlet-class>com.jc.controladores.ServletAutenticar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPeliculaInsertar</servlet-name>
        <servlet-class>com.jc.controladores.ServletPeliculaInsertar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBuscarPeliculas</servlet-name>
        <servlet-class>com.jc.controladores.ServletBuscarPeliculas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizarProducto</servlet-name>
        <servlet-class>com.jc.controladores.ServletActualizarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBusccarProductos</servlet-name>
        <servlet-class>com.jc.controladores.ServletBusccarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAutenticarUsuario</servlet-name>
        <servlet-class>com.jc.controladores.ServletAutenticarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGuardarAlmacen</servlet-name>
        <servlet-class>com.jc.controladores.ServletGuardarAlmacen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBuscarAlmacen</servlet-name>
        <servlet-class>com.jc.controladores.ServletBuscarAlmacen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarAlmacenPorId</servlet-name>
        <servlet-class>com.jc.controladores.BuscarAlmacenPorId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAutenticarOracle</servlet-name>
        <servlet-class>com.jc.controladores.ServletAutenticarOracle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Algo</servlet-name>
        <url-pattern>/hola</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAutenticar</servlet-name>
        <url-pattern>/autenticar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPeliculaInsertar</servlet-name>
        <url-pattern>/insertar-pelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBuscarPeliculas</servlet-name>
        <url-pattern>/buscar-peliculas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizarProducto</servlet-name>
        <url-pattern>/actualizar-producto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBusccarProductos</servlet-name>
        <url-pattern>/buscar-producto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAutenticarUsuario</servlet-name>
        <url-pattern>/autenticate-tonto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGuardarAlmacen</servlet-name>
        <url-pattern>/guardar-almacen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBuscarAlmacen</servlet-name>
        <url-pattern>/buscar-almacen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarAlmacenPorId</servlet-name>
        <url-pattern>/buscar-almacen-id</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAutenticarOracle</servlet-name>
        <url-pattern>/oracle-autenticacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
