<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Algo</servlet-name>
        <servlet-class>com.jc.controladores.ServletHola</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAutenticar</servlet-name>
        <servlet-class>com.jc.controladores.ServletAutenticar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPeliculaInsertar</servlet-name>
        <servlet-class>com.jc.controladores.ServletPeliculaInsertar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBuscarPeliculas</servlet-name>
        <servlet-class>com.jc.controladores.ServletBuscarPeliculas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Algo</servlet-name>
        <url-pattern>/hola</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAutenticar</servlet-name>
        <url-pattern>/autenticar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPeliculaInsertar</servlet-name>
        <url-pattern>/insertar-pelicula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBuscarPeliculas</servlet-name>
        <url-pattern>/buscar-peliculas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>autenticar.jsp</welcome-file>
    </welcome-file-list>
</web-app>
